body {
    display: flex;
}

.field {
    width: 200px;
    height: 200px;
    border: 1px solid brown;
    background-color: bisque;
}

#coordinate {
    width: 100px;
    height: 100px;
    border: 1px solid brown;
    color: red;
    background-color:beige;
}